


.nav-item{
    margin-top: 25px;
}
li{
    margin: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 10px;
    list-style: none;
    
}
li a{
    text-decoration: none;
    color: rgb(32, 189, 103);
}
a:hover,a:active{
    padding-bottom: 10px;
    border-bottom:3px solid rgb(54, 167, 88);
    border-radius: 6px;
}

.container{
    margin-top: 50px;
    padding: 40px;
    border-radius: 16px;
}
.category{
    font-weight: bold;
    color: rgb(97, 106, 114);
}

.card{
    width: 300px;
}